/* 1. Header */

header div > a {
    text-decoration: none;
    color: rgb(65, 65, 65);
}

.bottone {
    background-color: rgb(33, 33, 251);
}

.bottone.header {
    height: 35px;
    width: 60px;
    color: white;
    transition: 1s;
    border-radius: 50px;
}
.bottone > a {
    color: white;
    transition: .5s;
}
.bottone:hover {
    background-color: rgb(117, 182, 252);
    color: black;
}
.bottone:hover > a {
    background-color: rgba(117, 182, 252, 0);
    color: black;
}

/* 1.  */

.post-header-title-container > h1 { 
    font-size: 63px;
}

.post-header-container div > a {
    text-decoration: none;
}

.post-header-container > .post-header-internal-container > .hero-container > div {
    font-size: 14px;
}

.fa.fa-arrow-down {
    font-size: 35px;
    margin-top: 43px;
}

/* 2. */

.costo::before {
    content: "$";
}

.piani-container > div {
    font-size: 11px;
}

.months {
    color: rgb(147, 147, 147);
}



.fa-solid.fa-cloud {
    font-size: 9px;
}

.bottone.piano > a{
    text-decoration: none;
}

.punti-salienti > div > i {
    color: rgb(0, 21, 255);
}