/* CSS */

/* 1. HEADER */
header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
}

header > .header-container-uno {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

header > .header-container-uno > div:nth-last-child(-n+3) {
    padding: 3px;
}

header > .header-container-due {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

header > .header-container-due > div:nth-child(n+1) {
    padding: 7px;
}

.bottone {
    display: flex;
    justify-content: center;
}

/* POST HEADER 1. */
.post-header-container {
    min-height: 550px;
    background-color: rgb(112, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .post-header-container > .post-header-internal-container {
    height: 400px;
    width: 44%;

}

.post-header-title-container {
    height: calc(100% / 2);
}

.post-header-text-container25 {
    height: calc(100% / 4);
}


.post-header-img-container {
    height: calc(100% / 4);
}
.post-header-img-container > img {
    width: 129%;

}

.hero-container {
    display: flex;
}

.bottone.hero {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.post-header-container > .post-header-internal-container > .hero-container > .post-header-text-container > div:nth-child(n+2) {
    margin-top: 20px;
}

/* 2. */
.section-container-due {
    min-height: 550px;
}