/* CSS */

/* 1. HEADER */
header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    align-items: center;
}

header > .header-container-uno {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

header > .header-container-uno > div:nth-last-child(-n+3) {
    padding: 3px;
}

header > .header-container-due {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

header > .header-container-due > div:nth-child(n+1) {
    padding: 7px;
}

.bottone {
    display: flex;
    justify-content: center;
}

/* POST HEADER 1. */
.post-header-container {
    min-height: 550px;
    background-color: rgb(112, 174, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

body > .post-header-container > .post-header-internal-container {
    height: 400px;
    width: 44%;

}

.post-header-title-container {
    height: calc(100% / 2);
}

.post-header-text-container25 {
    height: calc(100% / 4);
}


.post-header-img-container {
    height: calc(100% / 4);
}
.post-header-img-container > img {
    width: 129%;

}

.hero-container {
    display: flex;
}

.bottone.hero {
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}

.post-header-container > .post-header-internal-container > .hero-container > .post-header-text-container > div:nth-child(n+2) {
    margin-top: 20px;
}


/* 2. */
.section-container-due {
    display: flex;
    justify-content: center;
    min-height: 5000px;
}
.section-internal-container-due-tre-quattro{
    min-height: 3000px;
    width: 43%;
    margin-top: 50px;
    
}

.marginaligner {
    margin: 0 auto;
    width: 94%;
}

.section-due-title {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.section-due-invoice {
    min-height: 60px;
    display: flex;
    align-items: center;
}

.section-container-due  .section-internal-container-due-tre-quattro  .section-due-invoice  #fatturazione-radio > div {
    display: flex;
}

#fatturazione-radio {
    display: flex;
    gap: 20px;
}
#mensile {
    margin-right: 10px;
}

/* container piani */
.piani-container {
    display: flex;
    gap: 40px;
}
.piano-riga-uno {
    width: calc((100% / 3)) ;
    height: 617px;
    border: 1px solid rgb(226, 226, 226);


}



.choise {
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%;
    height: 35px;
    gap: 5px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.marginaligner-piano-riga {
    width: 78%;
    margin: 0 auto;
}

.blocco-professional {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.blocco-funzionalita {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.blocco-funzionalita > div {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.blocco-acquisti {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.blocco-acquisti > div:nth-child(2) {
    display: flex;
    gap: 5px;
}

.bottone.piano {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 31px;
}

.piani-container > div > div.marginaligner-piano-riga > hr {
    margin-top: 20px;
    width: 25%;
}

.punti-salienti{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.punti-salienti > div {
    display: flex;
    align-items: baseline;
    gap: 10px;
}

.enterprise-plan-container {
    width: 100%;
    height: 180px;
    border: 1px solid rgb(226, 226, 226);
    margin-top: 40px;
    margin-bottom: 40px;
}



.enterprise-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26px;
    gap: 5px;
    border-bottom: 1px solid rgb(226, 226, 226);
}

.enterprise-title-aligner {
    width: 93%;
    margin: 0 auto;
}

.bottone.contatto {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 26px;
}

div.enterprise-plan-container > div.enterprise-title-aligner > div > div >  div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

div.enterprise-plan-container > div.enterprise-title-aligner > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(180px - 26px)
}